{% extends "base.html" %}

{% block content %}
<div class="container">
    {% for job in jobs %}
    <table class="table">
        <h2 style="color: LightGray">Action # {{job.id}}</h2>
        <thead>
        <tr class="table-dark">
            <th scope="col">Title of activity</th>
            <th scope="col">Team leader</th>
            <th scope="col">Duration</th>
            <th scope="col">List of collaborators</th>
            <th scope="col">Is finished</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-secondary">
            <th scope="row">{{job.job}}</th>
            <td>{{ users[job.team_leader - 1] }}</td>
            <td>{{job.work_size}}</td>
            <td>{{job.collaborators}}</td>
            {% if job.is_finished %}
            <td class="table-success">{{job.is_finished}}</td>
            {% else %}
            <td class="table-danger">{{job.is_finished}}</td>
            {% endif %}
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
